service mojavedroid.hal.userled-service /vendor/bin/hw/mojavedroid.hal.userled-service
    interface aidl mojavedroid.hal.userled-service.IUserLed/default
    class hal
    user system
    group system

on boot
    chown system system /sys/devices/platform/leds/leds/red:status/trigger
    chmod 0660 /sys/devices/platform/leds/leds/red:status/trigger